<h3>The List Of All Articles </h3>

<%= link_to "Create New Article" , new_article_path %>


<table class="table table-dark table-striped">
  <thead>
    <tr>
      <th>Id</th>
      <th>Title</th>
      <th>Description</th>
      <th>Edit</th>
    </tr>
  </thead>
  <% @articles.each do |article| %>
  <tr>
    <td><%= article.id %></td>
    <td><%= article.title %></td>
    <td><%= article.description %></td>
    <td><%= link_to "Edit", edit_article_path(article)%> </td>
    <td><%= link_to "Show" , article_path(article) %> <td>
      <%= link_to 'Destroy', article_path(article), method: :delete, data: { confirm: 'Are you sure?' } %>
  </tr>
  <% end %>
</table>