<h3>Enter User :</h3>
<% if @user.errors.any? %>

<div class="alert alert-danger">
    <h4>There are some error:</h4>
    <ul>
        <%= @user.errors.full_messages.each do |msg|%>
        <li>
            <%= msg %>
        </li>
        <% end%>
    </ul>
</div>

<% end %>


<%= form_with model: @user, url: create_users_path, local: true, data: { turbo: false} do |u| %>
<p>
    <%= u.label :username%>
    <%= u.text_field :username%>
</p>

<p>
    <%= u.label :email%>
    <%= u.text_field :email%>
</p>

<p>
    <%= u.label :password%>
    <%= u.password_field :password%>
</p>

<p>
    <%= u.submit %>
</p>

<% end %>